/* General styles for all devices */
body {
  background-color: #feeafa;
  font-family: "KayPhoDu", "Courier New", Courier, monospace;
  color: #1b2043;
  font-size: small;
}

/* Media query for devices with a maximum width of 600 pixels */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Media query for devices with a minimum width of 1200 pixels */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* Custom Font(s) */
@font-face {
  font-family: "KayPhoDu";
  src: url(fonts/KayPhoDu/KayPhoDu-Medium.ttf);
}

@font-face {
  font-family: "Dosis";
  src: url(fonts/Dosis/Dosis-Regular.ttf);
}

.main-header-title {
  font-size: x-large;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px #83c5be;
  text-align: center;
  padding-top: 2em;
}

.accordion {
  margin-left: 4em;
  margin-right: 4em;
  min-width: max-content;
}

.accordion-item {
  padding: 20px;
}

.accordion-header {
  background-color: rgb(188, 188, 244);
  border-bottom: 4em;
}

.accordion-content {
  background-color: pink;
  border-top: 4em;
}

button.flag,
button.submit {
  background-color: #83c5be;
  box-shadow: 0 0 40px #e5989b;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #1b2043;
}

ul {
  text-align: center;
  list-style-type: none;
}

#exampleFormControlTextarea1 {
  border-width: 3px;
}

.fillableForm {
  appearance: none;
}

/* Radio Buttons */

.radioChoices {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #83c5be;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid #1b2043;
}

button:hover,
button:focus {
  color: grey;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

/* Add Button */
.addItem {
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

img {
  max-height: 2rem;
}

#addExerciseForm {
  display: flex;
}

#addExerciseForm > input,
#addExerciseForm > button,
#addExerciseForm > div {
  flex: 1;
  background-color: green;
  padding: 10px;
  border: 10px solid black;
  margin: 20px;
}

.addItem {
  height: 2px;
  width: 2px;
  flex-grow: 0;
}
