/* Custom Font(s) */
@font-face {
    font-family: 'KayPhoDu';
    src: url(fonts/KayPhoDu/KayPhoDu-Medium.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(fonts/Dosis/Dosis-Regular.ttf);
}





body{
    background-color: #feeafa;
    font-family: 'KayPhoDu';
    color: #1b2043;
}

.header {
    font-size: x-large;
    font-family: 'Dosis';
    text-shadow: 2px 2px 2px #6cb8dc;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    

}