
@font-face {
    font-family: 'Headers';
    src: url(fonts/Headers/KayPhoDu-Medium.ttf);
}

html {
    background-color: rgb(174, 217, 224);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: yellow;
}

h2, h3, h4 {
    color: rgb(43, 45, 66);
    font-family: 'Headers';
}

