body {
  background-color: #2a233b;
  font-family: "KayPhoDu", "Courier New", Courier, monospace;
  color: #b8d0eb;
  font-size: small;
}

/* Media query for devices with a maximum width of 400 pixels */
@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .radioChoices + label img {
    min-height: 40px;
    border: 2px dotted transparent;
    border-radius: 100%;
  }

  .radioChoices:checked + label::after {
    height: 40px;
    width: 40px;
  }
}

/* Media query for devices with a minimum width of 500 pixels */
@media only screen and (min-width: 500px) {
  body {
    font-size: 16px;
    margin-left: 4em;
    margin-right: 4em;
  }

  .radioChoices + label img {
    min-height: 40px;
    border: 2px dotted transparent;
    border-radius: 100%;
  }

  .radioChoices:checked + label::after {
    height: 40px;
    width: 40px;
  }
}

/* Media query for devices with a minimum width of 1400 pixels */
@media only screen and (min-width: 700px) {
  body {
    font-size: 16px;
    margin-left: 7em;
    margin-right: 7em;
  }
  .radioChoices + label img {
    min-height: 50px;
    border: 2px dotted transparent;
    border-radius: 100%;
  }
  .radioChoices:checked + label::after {
    height: 50px;
    width: 50px;
  }

  .instructions {
    padding-right: 8px;
  }
}

/* Custom Font(s) */
@font-face {
  font-family: "KayPhoDu";
  src: url(fonts/KayPhoDu/KayPhoDu-Medium.ttf);
}

@font-face {
  font-family: "Dosis";
  src: url(fonts/Dosis/Dosis-Regular.ttf);
}

.main-header-title {
  font-size: xx-large;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px #acaab1;
  text-align: center;
  padding-top: 2em;
}

.instructions {
  display: flex;
  justify-content: right;
}

.accordion {
  min-width: max-content;
}

#flaggedItemsContainer,
#allItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.accordion-item,
#flaggedItemsContainer,
#allItemsContainer {
  background-color: #b8d0eb;

  padding: 20px;
}

.ucImgContainer {
  background-color: #dbdffd;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  justify-content: center;
  margin-top: 20px;
}

#underConstruction {
  display: flexbox;
  align-self: center;

  min-height: 20rem;
}

.accordion-header {
  background-color: #bcbcf4;
  border-bottom: 4em;
  cursor: pointer;
}

.accordion-content {
  /* background-color: rgb(225, 192, 255); */
  background: linear-gradient(to bottom, #bcbcf4, #bcbcf4, transparent);
  border-top: 4em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-content,
.submit-button-modal {
  background-color: #b8d0eb;
  color: black;
  border-radius: 10px;
}

.submit-button-modal {
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  text-align: center;
}

a {
  color: black;
  text-shadow: #bcbcf4 2px 0 10px;
}

#pagesContainer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  padding-left: 0;
  text-underline-offset: 5px;
}

#menu {
  border: none;
  background-color: transparent;
}

#fillableEntry {
  width: 100%;
  border: none;
}

input[type="text"],
input[type="date"],
input[type="number"],
#fillableEntry,
.dosage {
  background-color: rgb(229, 239, 243);
  border-radius: 5px;
  border-color: #acaab1;
}

input[type="number"] {
  width: 4rem;
}

button.submit {
  background-color: #83c5be;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #1b2043;
}

#flag {
  margin-top: 10px;
}

button.flagged {
  background-color: #b8d0eb;
  color: #2a233b;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #1b2043;
}

button {
  background-color: #b298dc;
  color: #2a233b;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #1b2043;
}

#datePicker {
  display: flex;
  justify-content: center;
}

ul {
  text-align: center;
  list-style-type: none;
}

#exampleFormControlTextarea1 {
  border-width: 3px;
}

/* Radio Buttons */

.radioChoices {
  display: none;
}

.radioChoices + label {
  display: inline-block;
  position: relative; /* Ensure proper positioning for absolute elements */
}

.radioChoices:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  border: 2px dotted black;
  border-radius: 100%;
  box-sizing: border-box;
}

button:hover,
button:focus {
  color: rgb(255, 255, 255);
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

/* Add Button */
#addMedicationBtn,
#addExerciseBtn,
#addHabitBtn {
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

.expandCollapse,
.submitButtonSection {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.delete-button {
  display: flexbox;
  align-items: baseline;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  height: 1rem;
  font-size: x-small;
}

img,
#menu {
  max-height: 2em;
}

/* Exercise List Section */

#exerciseList,
#habitList,
#medList {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
}

.navAndLocation {
  display: flex;
  padding-left: 2em;
}

.weatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-top: -30px;
  margin-bottom: -50px;
}

.locationSection {
  display: flexbox;
  padding-left: 2em;
}

.weatherResultsSection {
  display: block;
  text-align: right;
  white-space: pre-wrap;
  padding-right: 2em;
  height: 10em;
}

#locationResults {
  padding-left: 6px;
}

.flagged-header,
.flagged-content,
.entry-header {
  color: #2a233b;
}

.flagged-header,
.entry-header {
  background-color: #bcbcf4;
  border-bottom: #2a233b solid 2px;
}

.flagged-content,
.other-content {
  white-space: pre-line;

  background: linear-gradient(to bottom, #b8d0eb, transparent);
  border-top: 4em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: #2a233b dotted 1px;
}

fieldset#emotionTracker,
fieldset#waterTracker {
  display: flex;
  justify-content: space-evenly;
  min-height: 4rem;
}

li {
  display: inline-flex;
}

.card {
  width: 400px;
  margin-bottom: 2rem;
  padding: 2rem;
  height: 100%;
}

.card-title {
  display: block;
  height: 2rem;
  background-color: #bcbcf4;
  cursor: pointer;
}

.medication-wrapper,
.exercise-wrapper,
.habit-wrapper {
  display: flex;
  padding-top: 15px;
}

h6 {
  background-color: #83c5be;
}

.record-columns {
  flex: 1;
}

.card-journal {
  border-bottom: #bcbcf4 5px solid;
}

.card-body {
  padding: 0;
  padding-top: 30px;
  max-height: fit-content;
  justify-content: flex-end;
}

.weather-icon-div {
  display: flex;
  flex-direction: row-reverse;
  height: 4rem;
  align-items: center;
}

.card-title {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

button#expandCollapse,
button#submitButton {
  background-color: #b8d0eb;
}

button#submitButton {
  margin-bottom: 20px;
}

#twoDayMessage {
  display: none;
  padding-left: 8px;
}
