/* * {
  border: 1px solid rgb(8, 8, 8);
} */

/* General styles for all devices */
body {
  background-color: #2a233b;
  font-family: "KayPhoDu", "Courier New", Courier, monospace;
  color: #b8d0eb;
  font-size: small;
}

/* Media query for devices with a maximum width of 600 pixels */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Media query for devices with a minimum width of 1200 pixels */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* Custom Font(s) */
@font-face {
  font-family: "KayPhoDu";
  src: url(fonts/KayPhoDu/KayPhoDu-Medium.ttf);
}

@font-face {
  font-family: "Dosis";
  src: url(fonts/Dosis/Dosis-Regular.ttf);
}

.main-header-title {
  font-size: xx-large;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px #acaab1;
  text-align: center;
  padding-top: 2em;
}

.instructions {
  display: flex;
  justify-content: right;
  padding-right: 4em;
}

.accordion,
#flaggedItemsContainer {
  margin-left: 4em;
  margin-right: 4em;
  min-width: max-content;
}

.accordion-item,
#flaggedItemsContainer {
  background-color: #b8d0eb;

  padding: 20px;
}

.accordion-header,
.offcanvas-body,
.offcanvas-header {
  background-color: #bcbcf4;
  border-bottom: 4em;
}

.accordion-content {
  /* background-color: rgb(225, 192, 255); */
  background: linear-gradient(to bottom, #bcbcf4, #bcbcf4, transparent);
  border-top: 4em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#menu {
  border: none;
}

#fillableEntry {
  width: 100%;
  border: none;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  border-color: #acaab1;
}

input[type="number"] {
  width: 3rem;
}

button.flag,
button.submit {
  background-color: #83c5be;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #1b2043;
}

button.flagged {
  background-color: #b8d0eb;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #1b2043;
}

button {
  background-color: #b298dc;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #1b2043;
}

#datePicker {
  display: flex;
  justify-content: center;
}

ul {
  text-align: center;
  list-style-type: none;
}

#exampleFormControlTextarea1 {
  border-width: 3px;
}

/* Radio Buttons */

.radioChoices {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #2f2e30;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid #1b2043;
}

button:hover,
button:focus {
  color: rgb(255, 255, 255);
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

/* Add Button */
#addMedicationBtn,
#addExerciseBtn,
#addHabitBtn {
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

.expandCollapse {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.delete-button {
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  justify-content: center;
  height: 1rem;
  font-size: x-small;
  text-align: center;
}

img {
  max-height: 2rem;
}

/* Exercise List Section */

#exerciseList,
#habitList,
#medList {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
}

.navAndLocation {
  display: flex;
  padding-left: 2em;
}

.weatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-top: -30px;
  margin-bottom: -50px;
}

.locationSection {
  display: flexbox;
  padding-left: 2em;
}

.weatherResultsSection {
  display: flexbox;
  text-align: right;
  white-space: pre-wrap;
  padding-right: 2em;
}

/* .locationSection {
  display: flexbox;
  justify-items: start;
} */

.flagged-header,
.flagged-content {
  color: #2a233b;
}

.flagged-header {
  background-color: #bcbcf4;
}

.flagged-content {
  white-space: pre-line;

  background-color: #8e9aaf;
}

.submitButton {
  display: flex;
  justify-content: center;
  padding: 1em;
}
