/* Custom Font(s) */
@font-face {
    font-family: 'KayPhoDu';
    src: url(fonts/KayPhoDu/KayPhoDu-Medium.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(fonts/Dosis/Dosis-Regular.ttf);
}



*{
    background-color: #feeafa;
    font-family: 'KayPhoDu', 'Courier New', Courier, monospace;
    color: #1b2043;

}

.main-header-title {
    font-size: x-large;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #83c5be;
    text-align: center;
    padding-top: 2em;
}


button {
  border-color: transparent;
}

/**
.accordion-button {
  background-color: #006d77;
  color: #ffddd2;
}



/*
.accordion-button {
  background-color: black;
}

/*
.top-bar {
    display: flex;
    justify-content: space-around;
    background-color: #78a1a75e;
    padding: 8px;   
}

.sections {
  color: pink;
}